
.icon-right-big:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */